---
// src/components/Navbar.astro

// 定義導覽連結資料
const navLinks = [
    { name: "首頁", href: "/concentric-law/" },
    { 
        name: "法規總覽", 
        type: "dropdown", 
        children: [
        { name: "組織章程", href: "/concentric-law/act/act01" },
        { name: "學生代表法", href: "/concentric-law/act/act02" },
        { name: "行政中心組織運作法", href: "/concentric-law/act/act03" },
        { name: "學生議會組織運作法", href: "/concentric-law/act/act04" },
        { name: "選舉及罷免法", href: "/concentric-law/act/act05" },
        { name: "經費法", href: "/concentric-law/act/act06" },
        { name: "自治法規標準法", href: "/concentric-law/act/act07" },
        { name: "學生政黨法", href: "/concentric-law/act/act08" },
        { name: "議會會議彈性運作臨時條例", href: "/concentric-law/act/act09" },
        { name: "學校會議旁聽要點", href: "/concentric-law/direction/direction01" },
    ]
    },
    { name: "本會官網", href: "https://sites.google.com/stu.nknush.kh.edu.tw/ashssa/mac", target: "_blank" },
    // 修法沿革在 header 先註解掉了，如果之後需要再打開
    { name: "修法沿革", href: "...", target: "_blank" },
];

const themes = ["default", "retro", "cyberpunk", "valentine", "aqua", "lemonade", "abyss"];
---

<div id="main-header" class="h-16"> <div class="fixed navbar bg-base-100/85 shadow-sm print:hidden z-30 backdrop-blur top-0 w-full">
        <nav class="navbar w-full py-0 container mx-auto">
            
            <div class="navbar-start">
                <!-- 手機版選單邏輯 -->
                <div class="dropdown">
                    <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /> </svg>
                    </div>
                    <ul tabindex="0" class="menu menu-sm dropdown-content bg-base-200 rounded-box z-1 mt-3 w-52 p-2 shadow nav-list flex flex-col">
                        {navLinks.map(link => (
                            link.type === 'dropdown' ? (
                                <li>
                                    <details open>
                                        <summary>{link.name}</summary>
                                        <ul>
                                            {link.children.map(sub => (
                                                <li><a href={sub.href}>{sub.name}</a></li>
                                            ))}
                                        </ul>
                                    </details>
                                </li>
                            ) : (
                                <li><a href={link.href} target={link.target}>{link.name}</a></li>
                            )
                        ))}
                    </ul>
                </div>

                <!-- 網站大標題 -->
                <a class="btn btn-ghost text-xl" href="/concentric-law/">
                    <!-- SA LAW logo -->
                    <svg width="512" zoomAndPan="magnify" viewBox="0 0 384 383.999986" height="512" class="logo-sa-law inline-block size-6 scale-125 fill-transparent stroke-current stroke-2 opacity-90 group-hover:fill-transparent sm:scale-110"><defs><clipPath id="44f9e92434"><path d="M 143.207031 83 L 375 83 L 375 381 L 143.207031 381 Z M 143.207031 83 " clip-rule="nonzero"></path></clipPath><clipPath id="430638311a"><path d="M 270.167969 90.730469 L 373.046875 353.074219 C 375.515625 359.371094 374.714844 366.480469 370.902344 372.070312 C 367.089844 377.660156 360.765625 381 354 381 L 164.433594 381 C 157.667969 381 151.34375 377.660156 147.53125 372.070312 C 143.71875 366.480469 142.917969 359.371094 145.386719 353.074219 L 248.265625 90.730469 C 250.03125 86.226562 254.378906 83.261719 259.214844 83.261719 C 264.054688 83.261719 268.402344 86.226562 270.167969 90.730469 Z M 270.167969 90.730469 " clip-rule="nonzero"></path></clipPath><clipPath id="eee1107c71"><path d="M 0.207031 0.0390625 L 232 0.0390625 L 232 298 L 0.207031 298 Z M 0.207031 0.0390625 " clip-rule="nonzero"></path></clipPath><clipPath id="9e529e7463"><path d="M 127.167969 7.730469 L 230.046875 270.074219 C 232.515625 276.371094 231.714844 283.480469 227.902344 289.070312 C 224.089844 294.660156 217.765625 298 211 298 L 21.433594 298 C 14.667969 298 8.34375 294.660156 4.53125 289.070312 C 0.71875 283.480469 -0.0820312 276.371094 2.386719 270.074219 L 105.265625 7.730469 C 107.03125 3.226562 111.378906 0.261719 116.214844 0.261719 C 121.054688 0.261719 125.402344 3.226562 127.167969 7.730469 Z M 127.167969 7.730469 " clip-rule="nonzero"></path></clipPath><clipPath id="8d28e168c5"><rect x="0" width="232" y="0" height="298"></rect></clipPath><clipPath id="48a8a01a38"><path d="M 60.699219 148.503906 L 235.894531 148.503906 L 235.894531 323.699219 L 60.699219 323.699219 Z M 60.699219 148.503906 " clip-rule="nonzero"></path></clipPath><clipPath id="3ac9b9d4e8"><path d="M 148.296875 148.503906 C 99.917969 148.503906 60.699219 187.722656 60.699219 236.101562 C 60.699219 284.480469 99.917969 323.699219 148.296875 323.699219 C 196.675781 323.699219 235.894531 284.480469 235.894531 236.101562 C 235.894531 187.722656 196.675781 148.503906 148.296875 148.503906 Z M 148.296875 148.503906 " clip-rule="nonzero"></path></clipPath><clipPath id="e240b142d1"><path d="M 11.644531 148.503906 L 41.628906 148.503906 L 41.628906 323.722656 L 11.644531 323.722656 Z M 11.644531 148.503906 " clip-rule="nonzero"></path></clipPath><clipPath id="c2bd381c22"><path d="M 41.628906 163.496094 L 41.628906 308.675781 C 41.628906 316.957031 34.917969 323.667969 26.636719 323.667969 C 18.359375 323.667969 11.644531 316.957031 11.644531 308.675781 L 11.644531 163.496094 C 11.644531 155.214844 18.359375 148.503906 26.636719 148.503906 C 34.917969 148.503906 41.628906 155.214844 41.628906 163.496094 Z M 41.628906 163.496094 " clip-rule="nonzero"></path></clipPath><clipPath id="070ed047fc"><path d="M 0.644531 0.503906 L 30.628906 0.503906 L 30.628906 175.722656 L 0.644531 175.722656 Z M 0.644531 0.503906 " clip-rule="nonzero"></path></clipPath><clipPath id="9550a017d0"><path d="M 30.628906 15.496094 L 30.628906 160.675781 C 30.628906 168.957031 23.917969 175.667969 15.636719 175.667969 C 7.359375 175.667969 0.644531 168.957031 0.644531 160.675781 L 0.644531 15.496094 C 0.644531 7.214844 7.359375 0.503906 15.636719 0.503906 C 23.917969 0.503906 30.628906 7.214844 30.628906 15.496094 Z M 30.628906 15.496094 " clip-rule="nonzero"></path></clipPath><clipPath id="149001902a"><rect x="0" width="31" y="0" height="176"></rect></clipPath><clipPath id="3cb0bdb34e"><path d="M 26.640625 293.714844 L 148.304688 293.714844 L 148.304688 323.699219 L 26.640625 323.699219 Z M 26.640625 293.714844 " clip-rule="nonzero"></path></clipPath><clipPath id="fe2ccca015"><path d="M 0.640625 0.714844 L 122.304688 0.714844 L 122.304688 30.699219 L 0.640625 30.699219 Z M 0.640625 0.714844 " clip-rule="nonzero"></path></clipPath><clipPath id="3566c7616c"><rect x="0" width="123" y="0" height="31"></rect></clipPath><clipPath id="46c766d717"><path d="M 26.640625 148.496094 L 148.304688 148.496094 L 148.304688 178.480469 L 26.640625 178.480469 Z M 26.640625 148.496094 " clip-rule="nonzero"></path></clipPath><clipPath id="c718984986"><path d="M 0.640625 0.496094 L 122.304688 0.496094 L 122.304688 30.480469 L 0.640625 30.480469 Z M 0.640625 0.496094 " clip-rule="nonzero"></path></clipPath><clipPath id="f53ba8837e"><rect x="0" width="123" y="0" height="31"></rect></clipPath><clipPath id="30214f50ef"><path d="M 0.00390625 3.003906 L 175.199219 3.003906 L 175.199219 178.199219 L 0.00390625 178.199219 Z M 0.00390625 3.003906 " clip-rule="nonzero"></path></clipPath><clipPath id="3ce19434e1"><path d="M 87.601562 3.003906 C 39.222656 3.003906 0.00390625 42.222656 0.00390625 90.601562 C 0.00390625 138.980469 39.222656 178.199219 87.601562 178.199219 C 135.980469 178.199219 175.199219 138.980469 175.199219 90.601562 C 175.199219 42.222656 135.980469 3.003906 87.601562 3.003906 Z M 87.601562 3.003906 " clip-rule="nonzero"></path></clipPath><clipPath id="381e9172c2"><path d="M 183.753906 3 L 213.738281 3 L 213.738281 178.207031 L 183.753906 178.207031 Z M 183.753906 3 " clip-rule="nonzero"></path></clipPath><clipPath id="a7505e937f"><path d="M 183.753906 163.214844 L 183.753906 18.03125 C 183.753906 9.753906 190.46875 3.042969 198.746094 3.042969 C 207.027344 3.042969 213.738281 9.753906 213.738281 18.03125 L 213.738281 163.214844 C 213.738281 171.492188 207.027344 178.207031 198.746094 178.207031 C 190.46875 178.207031 183.753906 171.492188 183.753906 163.214844 Z M 183.753906 163.214844 " clip-rule="nonzero"></path></clipPath><clipPath id="5c1ea36545"><path d="M 0.753906 0 L 30.738281 0 L 30.738281 175.207031 L 0.753906 175.207031 Z M 0.753906 0 " clip-rule="nonzero"></path></clipPath><clipPath id="6c0e766d36"><path d="M 0.753906 160.214844 L 0.753906 15.03125 C 0.753906 6.753906 7.46875 0.0429688 15.746094 0.0429688 C 24.027344 0.0429688 30.738281 6.753906 30.738281 15.03125 L 30.738281 160.214844 C 30.738281 168.492188 24.027344 175.207031 15.746094 175.207031 C 7.46875 175.207031 0.753906 168.492188 0.753906 160.214844 Z M 0.753906 160.214844 " clip-rule="nonzero"></path></clipPath><clipPath id="f73876a260"><rect x="0" width="31" y="0" height="176"></rect></clipPath><clipPath id="4bbdb12556"><path d="M 77.082031 3.011719 L 198.746094 3.011719 L 198.746094 32.996094 L 77.082031 32.996094 Z M 77.082031 3.011719 " clip-rule="nonzero"></path></clipPath><clipPath id="7451250d61"><path d="M 0.0820312 0.0117188 L 121.746094 0.0117188 L 121.746094 29.996094 L 0.0820312 29.996094 Z M 0.0820312 0.0117188 " clip-rule="nonzero"></path></clipPath><clipPath id="8e05adc6b7"><rect x="0" width="122" y="0" height="30"></rect></clipPath><clipPath id="e9bcd5c4a0"><path d="M 77.082031 148.230469 L 198.746094 148.230469 L 198.746094 178.214844 L 77.082031 178.214844 Z M 77.082031 148.230469 " clip-rule="nonzero"></path></clipPath><clipPath id="489b94f8ef"><path d="M 0.0820312 0.230469 L 121.746094 0.230469 L 121.746094 30.214844 L 0.0820312 30.214844 Z M 0.0820312 0.230469 " clip-rule="nonzero"></path></clipPath><clipPath id="202da461ee"><rect x="0" width="122" y="0" height="31"></rect></clipPath></defs><g clip-path="url(#44f9e92434)"><g clip-path="url(#430638311a)"><g transform="matrix(1, 0, 0, 1, 143, 83)"><g clip-path="url(#8d28e168c5)"><g clip-path="url(#eee1107c71)"><g clip-path="url(#9e529e7463)"><path fill="currentColor" d="M -8.566406 -20.199219 L 241 -20.199219 L 241 297.609375 L -8.566406 297.609375 Z M -8.566406 -20.199219 " fill-opacity="1" fill-rule="nonzero"></path></g></g></g></g></g></g><g clip-path="url(#48a8a01a38)"><g clip-path="url(#3ac9b9d4e8)"><path stroke-linecap="butt" transform="matrix(0.75, 0, 0, 0.75, 60.69955, 148.504543)" fill="none" stroke-linejoin="miter" d="M 116.796443 -0.000849591 C 52.29123 -0.000849591 -0.000441126 52.290821 -0.000441126 116.796035 C -0.000441126 181.301248 52.29123 233.592919 116.796443 233.592919 C 181.301657 233.592919 233.593327 181.301248 233.593327 116.796035 C 233.593327 52.290821 181.301657 -0.000849591 116.796443 -0.000849591 Z M 116.796443 -0.000849591 " stroke="currentColor" stroke-width="80" stroke-opacity="1" stroke-miterlimit="4"></path></g></g><g clip-path="url(#e240b142d1)"><g clip-path="url(#c2bd381c22)"><g transform="matrix(1, 0, 0, 1, 11, 148)"><g clip-path="url(#149001902a)"><g clip-path="url(#070ed047fc)"><g clip-path="url(#9550a017d0)"><path fill="currentColor" d="M 0.644531 0.503906 L 30.628906 0.503906 L 30.628906 175.722656 L 0.644531 175.722656 Z M 0.644531 0.503906 " fill-opacity="1" fill-rule="nonzero"></path></g></g></g></g></g></g><g clip-path="url(#3cb0bdb34e)"><g transform="matrix(1, 0, 0, 1, 26, 293)"><g clip-path="url(#3566c7616c)"><g clip-path="url(#fe2ccca015)"><path fill="currentColor" d="M 0.640625 30.699219 L 0.640625 0.714844 L 122.332031 0.714844 L 122.332031 30.699219 Z M 0.640625 30.699219 " fill-opacity="1" fill-rule="nonzero"></path></g></g></g></g><g clip-path="url(#46c766d717)"><g transform="matrix(1, 0, 0, 1, 26, 148)"><g clip-path="url(#f53ba8837e)"><g clip-path="url(#c718984986)"><path fill="currentColor" d="M 0.640625 30.480469 L 0.640625 0.496094 L 122.332031 0.496094 L 122.332031 30.480469 Z M 0.640625 30.480469 " fill-opacity="1" fill-rule="nonzero"></path></g></g></g></g><g clip-path="url(#30214f50ef)"><g clip-path="url(#3ce19434e1)"><path stroke-linecap="butt" transform="matrix(0.75, 0, 0, 0.75, 0.0021215, 3.005686)" fill="none" stroke-linejoin="miter" d="M 116.799264 -0.00237314 C 52.29405 -0.00237314 0.00237967 52.289298 0.00237967 116.794511 C 0.00237967 181.299725 52.29405 233.591395 116.799264 233.591395 C 181.304477 233.591395 233.596148 181.299725 233.596148 116.794511 C 233.596148 52.289298 181.304477 -0.00237314 116.799264 -0.00237314 Z M 116.799264 -0.00237314 " stroke="currentColor" stroke-width="80" stroke-opacity="1" stroke-miterlimit="4"></path></g></g><g clip-path="url(#381e9172c2)"><g clip-path="url(#a7505e937f)"><g transform="matrix(1, 0, 0, 1, 183, 3)"><g clip-path="url(#f73876a260)"><g clip-path="url(#5c1ea36545)"><g clip-path="url(#6c0e766d36)"><path fill="currentColor" d="M 30.738281 175.207031 L 0.753906 175.207031 L 0.753906 -0.0117188 L 30.738281 -0.0117188 Z M 30.738281 175.207031 " fill-opacity="1" fill-rule="nonzero"></path></g></g></g></g></g></g><g clip-path="url(#4bbdb12556)"><g transform="matrix(1, 0, 0, 1, 77, 3)"><g clip-path="url(#8e05adc6b7)"><g clip-path="url(#7451250d61)"><path fill="currentColor" d="M 121.746094 0.0117188 L 121.746094 29.996094 L 0.0546875 29.996094 L 0.0546875 0.0117188 Z M 121.746094 0.0117188 " fill-opacity="1" fill-rule="nonzero"></path></g></g></g></g><g clip-path="url(#e9bcd5c4a0)"><g transform="matrix(1, 0, 0, 1, 77, 148)"><g clip-path="url(#202da461ee)"><g clip-path="url(#489b94f8ef)"><path fill="currentColor" d="M 121.746094 0.230469 L 121.746094 30.214844 L 0.0546875 30.214844 L 0.0546875 0.230469 Z M 121.746094 0.230469 " fill-opacity="1" fill-rule="nonzero"></path></g></g></g></g></svg>
                    <span class="lg:hidden">ASHS SA Law</span>
                    <span class="hidden lg:flex">高師大附中學生會自治法規共用系統</span>
                    <span class="concentric-text-color"><!-- 內側版本識別 -->
                        concentric
                    </span>
                </a>
            </div>

            <!-- 電腦版選單邏輯 -->
            <div class="navbar-center hidden lg:flex">
                <ul class="menu menu-horizontal px-1">
                    {navLinks.map(link => (
                        link.type === 'dropdown' ? (
                            <li>
                                <details>
                                    <summary>{link.name}</summary>
                                    <ul class="bg-base-200 rounded-box p-2 w-52 shadow nav-list z-20">
                                        {link.children.map(sub => (
                                            <li><a href={sub.href}>{sub.name}</a></li>
                                        ))}
                                    </ul>
                                </details>
                            </li>
                        ) : (
                            <li><a href={link.href} target={link.target}>{link.name}</a></li>
                        )
                    ))}
                </ul>
            </div>

            <!-- 主題切換選單邏輯 -->
            <div class="navbar-end relative">
                <div class="dropdown dropdown-end">
                    <div tabindex="0" role="button" class="btn m-1">
                        Theme
                        <svg width="12px" height="12px" class="inline-block h-2 w-2 fill-current opacity-60" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2048 2048">
                            <path d="M1799 349l242 241-1017 1017L7 590l242-241 775 775 775-775z"></path>
                        </svg>
                    </div>
                    <ul tabindex="0" class="dropdown-content bg-base-300 rounded-box z-1 w-40 p-2 shadow-2xl h-64 overflow-y-auto">
                        {themes.map(theme => (
                            <li>
                                <input type="radio" name="theme-dropdown" class="theme-controller btn btn-sm btn-block btn-ghost justify-start" aria-label={theme} value={theme} />
                            </li>
                        ))}
                    </ul>
                </div>
            </div>

        </nav>
    </div>
</div>

<script>
    // --- 新增：初始化主題切換邏輯的函數 ---
    function initializeThemeSwitcher() {
        console.log('initializeThemeSwitcher 函數開始執行。');
        const themeRadios = document.querySelectorAll('.theme-controller');
        const htmlElement = document.documentElement; // 獲取 <html> 元素
        const localStorageKey = 'daisyuiTheme'; // 儲存主題的 localStorage 鍵名

        // 1. 頁面載入時，從 localStorage 讀取並應用主題
        const savedTheme = localStorage.getItem(localStorageKey);
        if (savedTheme) {
            htmlElement.setAttribute('data-theme', savedTheme); // 設定 <html> 的 data-theme 屬性
            // 同步更新 radio 按鈕的選中狀態
            const savedRadio = document.querySelector(`input[value="${savedTheme}"]`);
            if (savedRadio) {
                savedRadio.checked = true;
                console.log(`已從 localStorage 載入主題: ${savedTheme}`);
            } else {
                console.warn(`localStorage 中儲存的主題 '${savedTheme}' 找不到對應的 radio 按鈕。`);
            }
        } else {
            // 如果 localStorage 沒有儲存，預設使用第一個主題或 'default' 主題
            const defaultThemeRadio = document.querySelector('input[name="theme-dropdown"]:checked') || document.querySelector('input[value="default"]');
            if (defaultThemeRadio) {
                htmlElement.setAttribute('data-theme', defaultThemeRadio.value);
                localStorage.setItem(localStorageKey, defaultThemeRadio.value);
                defaultThemeRadio.checked = true;
                console.log(`localStorage 無主題，設定預設主題: ${defaultThemeRadio.value}`);
            } else {
                console.warn('找不到預設主題的 radio 按鈕或任何選中的主題。');
            }
        }

        // 2. 監聽 radio 按鈕的變更事件，儲存新主題並應用
        if (themeRadios.length > 0) {
            themeRadios.forEach(radio => {
                radio.addEventListener('change', (event) => {
                    const selectedTheme = event.target.value; // 取得被選中的主題值
                    htmlElement.setAttribute('data-theme', selectedTheme);
                    localStorage.setItem(localStorageKey, selectedTheme);
                    console.log(`主題已切換並儲存: ${selectedTheme}`);
                });
            });
            console.log('主題切換監聽器已成功綁定。');
        } else {
            console.warn('未找到任何主題切換 radio 按鈕 (.theme-controller)。');
        }
    }
        console.log('initializeThemeSwitcher 函數預備執行');
        initializeThemeSwitcher();
</script>