---
import '../styles/global.css'; // 引入原本的 CSS 檔案
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import ScrollToTop from '../components/ScrollToTop.astro'; // 暫時測試一下 ScrollToTop


const { title } = Astro.props;
const siteName = "高師大附中學生會自治法規共用系統";
const description = "彙編高師大附中學生會所有自治法規的展示網站。";
---

<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title ? `${title} - ${siteName}` : siteName}</title>
    
    <meta property="og:title" content={title ? `${title} - ${siteName}` : siteName}>
    <meta property="og:description" content={description}>
    <meta property="og:image" content="@assets/Preview-3.png">
    <meta property="og:type" content="website">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" rel="stylesheet" />
    <link rel="shortcut icon" href="@assets/icon.ico" type="image/x-icon">
    <link rel="manifest" href="/config/manifest.json">

    <style>
        .material-symbols-outlined {
            font-variation-settings: 'FILL' 0, 'wght' 350, 'GRAD' 0, 'opsz' 20;
            font-size: inherit;
        }
    </style>
</head>
<body>

    <Navbar />

    <main class="main-content">
        <slot /> </main>

    <ScrollToTop />
    <Footer />

    <script is:inline src="/main.js"></script>
    
</body>
</html>